In [1]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/nethajinirmal13/Training-datasets/main/cs1%20(1).csv')
df.shape
df

,id,age,gender,region,income,married,children,car,save_act,current_act,mortgage,pl
0,ID12101,48,FEMALE,INNER_CITY,17546.00,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.10,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.40,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.40,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.30,YES,0,NO,YES,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
325,ID12426,24,FEMALE,TOWN,9465.21,NO,0,NO,NO,YES,NO,YES
326,ID12427,39,MALE,INNER_CITY,34852.30,YES,1,NO,YES,NO,YES,YES
327,ID12428,24,MALE,INNER_CITY,21268.40,YES,0,NO,NO,YES,YES,YES
328,ID12429,57,FEMALE,RURAL,50849.20,NO,1,NO,YES,NO,YES,YES
329,ID12430,27,FEMALE,TOWN,18555.90,YES,3,NO,NO,YES,NO,NO

In [2]:
import scipy.stats as st
print(st.shapiro(df['age']))

ShapiroResult(statistic=0.9519778490066528, pvalue=6.614436109941835e-09)

In [3]:
a1=df[df['married']=='YES']['income']
a2=df[df['married']=='NO']['income']
print(st.ttest_ind(a1,a2,equal_var=True))

Ttest_indResult(statistic=-0.5022263858475209, pvalue=0.6158452714913527)

In [4]:
df['children'].unique()

array([1, 3, 0, 2], dtype=int64)

In [5]:
a1=df[df['children']==0]['age']
a2=df[df['children']==1]['age']
a3=df[df['children']==2]['age']
a4=df[df['children']==3]['age']
print(st.f_oneway(a1,a2,a3,a4))

F_onewayResult(statistic=0.40864721912518615, pvalue=0.746891231444784)

In [8]:
tab=pd.crosstab(df['married'],df['pl'])
print(st.chi2_contingency(tab))

Chi2ContingencyResult(statistic=5.898041621988204, pvalue=0.015157729377672154, dof=1, expected_freq=array([[ 63.97575758,  52.02424242],
       [118.02424242,  95.97575758]]))

In [10]:
tab=pd.crosstab(df['gender'],df['pl'])
print(st.chi2_contingency(tab))
tab

Chi2ContingencyResult(statistic=4.203725620315688, pvalue=0.040335270903050946, dof=1, expected_freq=array([[88.24242424, 71.75757576],
       [93.75757576, 76.24242424]]))

pl      NO  YES
gender
FEMALE  98   62
MALE    84   86

In [11]:
def check_normality(data):
    from scipy import stats
    test_stat_normality, p_value_normality=stats.shapiro(data)
    print("p value:%.4f" % p_value_normality)
    if p_value_normality <0.05:
        print("Reject null hypothesis >> The data is not normally distributed")
    else:
        print("Fail to reject null hypothesis >> The data is normally distributed")

In [12]:
import numpy as np
sync = np.array([94. , 84.9, 82.6, 69.5, 80.1, 79.6, 81.4, 77.8, 81.7, 78.8, 73.2,
       87.9, 87.9, 93.5, 82.3, 79.3, 78.3, 71.6, 88.6, 74.6, 74.1, 80.6])
asyncr = np.array([77.1, 71.7, 91. , 72.2, 74.8, 85.1, 67.6, 69.9, 75.3, 71.7, 65.7, 72.6, 71.5, 78.2])
check_normality(sync)
check_normality(asyncr)

p value:0.6556
Fail to reject null hypothesis >> The data is normally distributed
p value:0.0803
Fail to reject null hypothesis >> The data is normally distributed

In [18]:
def check_variance_homogeneity(group1, group2):
    from scipy import stats
    test_stat_var, p_value_var= stats.levene(group1,group2)
    print("p value:%.4f" % p_value_var)
    if p_value_var <0.05:
        print("Reject null hypothesis >> The variances of the samples are different.")
    else:
        print("Fail to reject null hypothesis >> The variances of the samples are same.")

In [19]:
check_variance_homogeneity(sync, asyncr)

p value:0.8149
Fail to reject null hypothesis >> The variances of the samples are same.